ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul li { display: inline;}

.upper-nav {
    background-color: dimgray;
    height: 100px;
    direction: rtl;
    text-align: right;
    font-size: 20px;
    margin-top: 0px;
}

.main-div-wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
  
.header {
    background: rgb(179, 168, 168);
}
  
.footer {
    background: gray;
}
  
.create-contact-box {
    text-align: right;
    background: green;
    height: 550px;
    width: 300px;
}
  
.details-box{
    background: lightgray;
    height: 200px;
    width: 200px;
}
  
.about-box {
    background: red;
    height: 200px;
    width: 200px;
}
  
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .create-contact-box { order: 1; } 
    .details-box    { order: 2; }
    .about-box { order: 3; }
}

body {
    padding: 2em; 
}