body {
    direction: rtl;
    margin: 0;
    border: 0; 
} 

.menu {
    margin-right: 200px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: black(211, 211, 211, 0.356);
}
        
.menu li {
    float: right;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    direction: rtl;
}

.menu a:link {
    text-decoration: none;

}
.menu li a:hover {
    background-color: darkgrey;
}

.logo_paz {
    margin-top: 30px;
    width: 100px;
    height: 70px;
    float: right;
    position: relative;
    top: 0px;
    right: 20px;
}

.navbar-serch-container {
    direction: ltr;
    text-align:left;
    margin-top:2px;
}

.header-flex {
 display: flex;
    margin-top:0px;
    margin-left:0px;
}

.under-menu { 
    padding-top: 10px;
    height: 50px;
    text-align: right;
    background-color: wheat

}

.main-div-wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color: lightblue;
}
 
.spacer-left-mid {
    width: 50px;
}

.left-boxes {
    margin-left: 80px;
    background-color:lightslategrey;
}

.header {
    background: rgb(179, 168, 168);
}
  
.footer {
    background: gray;
}
  
.create-contact-box {
    text-align: right;
    background: green;
    height: 294px;
    width: 347px;
    margin: auto;
    padding-left: 18px;
    padding-top: 12px;
    border-top: 1px;
    border-left: 1px;
    font-size: 10px;
}
  
.create-contact-box-head {
    font-weight: bold;
    color: blue;
}

.create-contact-box-head p1 {
    font-weight: normal;
    color: black;
    margin: 0;
}

.create-contact-box-head p {
    color: black;
    margin: 2px;
}

.create-contact-box-body {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 15px;
    text-align: right;
    direction: rtl;
    background-color: cornflowerblue;
}

.create-contact-box-row {
    height: 30px;
    background-color: coral;
}

.create-contact-box-row label {
    text-align: right;
    margin-right: 10px;
    width: 100px;
    display: inline-flex;
}

.create-contact-box-row input {
    box-sizing: border-box;
    background-color: pink;
    margin: 10px;
    width: 150px;
}
  
.create-contact-box-text {
    margin-right: 120px;
    margin-top: 10px;
    width: 150px;
}

.creat-contact-box-submit {
    text-align: left;
}

.creat-contact-box-submit input[type=submit] {
    background-color: blue;
}

.details-box{
    background: lightgray;
    height: 65px;
    width: 248px;
    margin-top: 30px;
}
  
.about-box {
    background: red;
    height: 80px;
    width: 248px;
    margin-top: 80px;
}
  
